*{
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    max-width: 800px;
    max-height: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    background: url('https://img.freepik.com/free-vector/flat-arabic-pattern-background_79603-1826.jpg?w=1380&t=st=1679788808~exp=1679789408~hmac=b0ac574b292944fd0e9a951f7e53bc070d434c9441f0005c6af2c24c86210bca');
}
.container {
    display: grid;
}

.wrapper{
    padding: 5%;
    border: 5px double #000;
    margin: 3% 0;
    grid-column-start: 2;
    grid-column-end: 4;
    font-weight: 700;
    background-color: hsla(60, 9%, 93%, 0.856);

}
.info{
    display: flex;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 15%;
    justify-content: space-between;
    align-items: center;
}

button{
    font-size: 60px;
    color:  #fff;
    background-color: #000;
    min-width: 70px;
}

.Subhanallah, .Alhamdulillah, .Allahuakbar{
    border-bottom: 4px solid #000;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    text-align: center;
    background-color: hsla(60, 9%, 93%, 0.856);
    font-size: 14px;
}
footer > div {
    padding: 20px 0;
}

